<!DOCTYPE html>
<html>
<head>
    <title>Cricket Players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="container">
        <h1><img src="{{ url_for('static', filename='logo.jpg') }}" alt="Cricket" class="logo"> Cricket Players</h1>
    
    <form action="/filtered-players" method="post">
        <h2>Filter by Bowling Style:</h2>
        <ul class="filter-list">
            <li><input type="radio" name="bowling_style" value="right-arm-fast-medium">Right-arm Fast Medium</li>
            <li><input type="radio" name="bowling_style" value="right-arm-offbreak">Right-arm Offbreak</li>
            <li><input type="radio" name="bowling_style" value="right-arm-fast">Right-arm Fast</li>
            <li><input type="radio" name="bowling_style" value="slow-right-arm-orthodox">Right Left Arm Orthodox</li>
            <li><input type="radio" name="bowling_style" value="left-arm-fast-medium">Left-arm Fast Medium</li>
            <li><input type="radio" name="bowling_style" value="legbreak">Legbreak</li>
            <li><input type="radio" name="bowling_style" value="left-arm-fast">Left-arm Fast</li>
            <li><input type="radio" name="bowling_style" value="slow-right-arm-orthodox">Slow Left Arm Orthodox</li>
            <li><input type="radio" name="bowling_style" value="left-arm-chinaman">Left-arm Chinman</li>
        </ul>
        
        <h2>Filter by Batting Style:</h2>
        <ul class="filter-list">
            <li><input type="radio" name="batting_style" value="right-hand-bat">Right-hand Bat</li>
            <li><input type="radio" name="batting_style" value="left-hand-bat">Left-hand Bat</li>
        </ul>

        <h2>Filter by Position:</h2>
        <ul class="filter-list">
            <li><input type="radio" name="position" value="Bowler">Bowler</li>
            <li><input type="radio" name="position" value="Allrounder">Allrounder</li>
            <li><input type="radio" name="position" value="Batsman">Batsman</li>
            <li><input type="radio" name="position" value="Wicketkeeper">Wicketkeeper</li>
            <li><input type="radio" name="position" value="Middle-Order-Batter">Middle Order Batter</li>
            <li><input type="radio" name="position" value="Bowling-Allrounder">Bowling Allrounder</li>
            <li><input type="radio" name="position" value="Top-Order-Batter">Top Order Batter</li>
            <li><input type="radio" name="position" value="Batting-Allrounder">Batting Allrounder</li>
        </ul>

        <input type="submit" value="Filter" class="btn btn-primary">
    </form>
    </div>

    {{ table|safe }}

</body>
</html>