<!DOCTYPE html>
<html>
<head>
    <title>Cricket Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cricket Players</h1>
    
    <h2>Filter by Bowling Style:</h2>
    <ul>
        <li><a href="/players/bowling/right-arm-fast-medium">Right-arm Fast Medium</a></li>
        <li><a href="/players/bowling/right-arm-offbreak">Right-arm Offbreak</a></li>
        <li><a href="/players/bowling/right-arm-fast">Right-arm Fast</a></li>
        <li><a href="/players/bowling/slow-right-arm-orthodox">Right Left Arm Orthodox</a></li>
        <li><a href="/players/bowling/left-arm-fast-medium">Left-arm Fast Medium</a></li>
        <li><a href="/players/bowling/legbreak">Legbreak</a></li>
        <li><a href="/players/bowling/left-arm-fast">Left-arm Fast</a></li>
        <li><a href="/players/bowling/slow-right-arm-orthodox">Slow Left Arm Orthodox</a></li>
        <li><a href="/players/bowling/left-arm-chinaman">Left-arm Chinman</a></li>
    </ul>
    
    <h2>Filter by Batting Style:</h2>
    <ul>
        <li><a href="/players/batting/right-hand-bat">Right-hand Bat</a></li>
        <li><a href="/players/batting/left-hand-bat">Left-hand Bat</a></li>
    </ul>

    <h2>Filter by Position:</h2>
    <ul>
        <li><a href="/players/position/bowler">Bowler</a></li>
        <li><a href="/players/position/allrounder">Allrounder</a></li>
        <li><a href="/players/position/batsman">Batsman</a></li>
        <li><a href="/players/position/wicketkeeper">Wicketkeeper</a></li>
        <li><a href="/players/position/middle-order-batter">Middle Order Batter</a></li>
        <li><a href="/players/position/bowling-allrounder">Bowling Allrounder</a></li>
        <li><a href="/players/position/top-order-batter">Top Order Batter</a></li>
        <li><a href="/players/position/batting-allrounder">Batting Allrounder</a></li>

    </ul>

    {{ table|safe }}
</body>
</html>
